<%- include("partials/header.ejs") %>

<div class="post-container">
    <div class="thumbnail"></div>
    <div class="title">Placeholder</div>
    <div class="snippet">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor accumsan diam a imperdiet. Mauris ornare dui et neque vehicula, id luctus metus efficitur. Integer rhoncus venenatis</div>
    <button type="button">Read more</button>
</div>

<%- include("partials/footer.ejs") %>