<%- include("partials/header.ejs") %>

<% if (!locals.session || !locals.session.user) {%>

<form action="/login" method="post">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Login</button>
</form>

<% } else {%>
<% } %>

<%- include("partials/footer.ejs") %>
